---
---

@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}



/* Brandon Grotesque - Light, Regular, Bold & Black */
@font-face {
    font-family: 'BrandonGrotesque-Regular';
    src: url('/fonts/brandongrotesque-regular.eot');
    src: url('/fonts/brandongrotesque-regular.eot?#iefix') format('embedded-opentype'),
         url('/fonts/brandongrotesque-regular.woff') format('woff'),
         url('/fonts/brandongrotesque-regular.ttf') format('truetype'),
         url('/fonts/brandongrotesque-regular.svg#brandongrotesque-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrandonGrotesque-Bold';
    src: url('/fonts/brandongrotesque-bold.eot');
    src: url('/fonts/brandongrotesque-bold.eot?#iefix') format('embedded-opentype'),
         url('/fonts/brandongrotesque-bold.woff') format('woff'),
         url('/fonts/brandongrotesque-bold.ttf') format('truetype'),
         url('/fonts/brandongrotesque-bold.svg#brandongrotesque-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dirty Headline';
    src: url('/fonts/dirty_headline-webfont.eot');
    src: url('/fonts/dirty_headline-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/dirty_headline-webfont.woff') format('woff'),
         url('/fonts/dirty_headline-webfont.ttf') format('truetype'),
         url('/fonts/dirty_headline-webfont.svg#DirtyHeadlineRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


html * {max-height:1000000px;}
* {-webkit-text-size-adjust: 100%;}
.post-content p {max-height: 99999px;}


html {overflow-y: scroll; overflow-x: hidden; height: 100%;}
body {color: #231F20; background: #231F20; font-family: 'BrandonGrotesque-Regular', sans-serif; font-size: 21px; line-height: 1.5em;}

#splash {display: none; position: fixed; height: 100%; width: 100%; background: #231F20; z-index: 99; cursor: pointer;}
#splash table {height: 100%; width: 100%;}
#splash td {vertical-align: middle; text-align: center;}
#splash img {width: 75%; max-width: 600px; margin-top: calc(9vh + 4vw);}
#nonsplash {background: #f2ecd4 url('/img/muur.jpg') center top;}
#innernonsplash {background: url('/img/footer.png') center bottom no-repeat; background-size: contain;}

.intro {padding-top: 100px;}
#myCarousel .item {width: 100%; text-align: center;}
#myCarousel .item img {margin: 0 auto;}

.carousel-indicators li {opacity: 0.85; margin: 2px; width: 15px; height: 15px; border-color: #876550;}
.carousel-indicators li.active {margin: 2px; width: 15px; height: 15px; background-color: #876550;}

.light {text-align: center; padding: 30px 0 50px; color: #231F20;}
.contactinfo a, .light p a {color: #231F20;}
.light .post-content {}
.light .post-content p {color: #231F20;}
#catering.light a:not(.blog) {white-space: nowrap; color: #91191e;}
.light p a.red {color: #91191e;}

.light#about {font-size: 21px; line-height: 1.5em;}
.light#funfacts {font-size: 17px; line-height: 1.5em; padding-bottom: 0;}
.light#contact {}

.readmore {display: inline-block; text-align: center; width: 282px; padding: 7px 71px 13px; font-family: 'Dirty Headline'; text-transform: uppercase; text-decoration: none; 
background: url('/img/tapekaart.png') center center no-repeat; font-size: 23px; background-size: contain; position: relative; right: 40px; top: 10px;
 -ms-transform: rotate(-2deg); -webkit-transform: rotate(-2deg); transform: rotate(-2deg);
}
.readmore:hover {color: #3f4717;}
.readmore:focus {text-decoration: none!important;}

.bgimage > div {padding: 60px 0;}
.monkeyjarweetjes {width: 100%; position: relative; bottom: 80px;}

.contactinfo {line-height: 1.5em; padding-bottom: 20px;}
.contactinfo  strong {font-family: 'Dirty Headline'; font-weight: normal; line-height: 1.3em; font-size: 25px; display: inline-block; padding: 10px 0;}
b, strong {font-family: 'BrandonGrotesque-Bold'; font-weight: normal;}
#map {border: 0px solid #231F20; cursor: pointer; height: 335px; background: url('/img/map.jpg') center center no-repeat; background-size: cover; margin-bottom: 0px;}
#map img {margin-top: 120px; height: 120px; opacity: 0.85;}

footer {}
footer p {margin: 0;}
footer a, footer a:hover, footer a:focus {color: #231F20;}
.site-footer2 {background: rgba(63,32,4,0.5); text-transform: none!important; font-size: 15px!important; padding: 11px 0 0!important; max-height: 99999px; letter-spacing: 0px!important;}
.site-footer2 a, .site-footer2 a:hover, .site-footer2 a:focus {color: #231F20; font-weight: normal; text-decoration: none;}
.site-footer2 > div:nth-child(1) {padding: 50px 0; display: none;}
footer form {margin: 0 auto; display: inline-block; background: white; overflow: auto; padding: 0;}
footer form input {padding: 2px 15px; border: 0; display: inline-block; margin: 2px;}
footer form input[type="email"] {width: 230px; }
footer form input[type="submit"] {font-family: 'BrandonGrotesque-Bold'; width: 100px; background: #c3ab90; text-transform: uppercase;}
.footerbar {color: white; height: 42px; line-height: 35px; background: url('/img/footerbar.png') center center repeat-x; border-top: 3px solid rgba(20,26,0,0.5);}
.footerbar a {color: white!important;}

#header .textrow {z-index: 99;}
#header .textrow .container {padding: 0!important;}
.textrow {line-height: 1.4em;  text-transform: uppercase; text-align: center; padding: 5px 15px;
font-family: 'Dirty Headline'; text-transform: uppercase; font-size: 48px; text-shadow: 0px 0px 10px rgba(221,209,193,0.5);}
.absright {width: 300px; float: right; text-align: right; height: 18px; font-family: 'BrandonGrotesque-Regular', sans-serif; font-size: 15px; line-height: 1.5em;}
.absright > * {display: inline-block;}
.textrow select {background: transparent; border: 0; text-transform: uppercase; font-family: 'BrandonGrotesque-Bold'; outline: none!important;}

.navbar {border-radius: 0px!important; font-size: 31px; line-height: 1.4em; height: 163px;}
.navbar > div {height: 132px;}
.navbar-default {font-family: 'Dirty Headline'; z-index: 2; position: absolute; width: 100%; background: url(/img/menu.png) center bottom repeat-x; border: 0; text-transform: uppercase;}
.navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-brand {opacity: 1; text-decoration: none; color: #231F20; padding: 4px 0;} 
.navbar-default .navbar-nav > li >a {opacity: 1; text-decoration: none; color: #231F20; margin: 51px 20px 0 20px; padding: 4px 0;}
.navbar-default .navbar-nav > li:first-of-type > a {margin-left: 0!important;}
.navbar-default .navbar-nav > li:last-of-type > a {margin-right: 0!important;}
.navbar-collapse {-webkit-box-shadow: none; box-shadow: none; padding: 0;}
.navbar-default .navbar-toggle {margin-top: 25px; margin-bottom: 22px;}
.navbar-default .navbar-toggle .icon-bar {background-color: #231F20;}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {background-color: transparent; opacity: 1;}
.navbar-default .navbar-toggle {border-color: transparent;}
.navbar-default .navbar-brand {margin: 5px 0 0;}
.navbar-default .navbar-brand img {display: block; width: 115px; position: relative; bottom: 5px;}
.page-template .navbar-default, .navbar-default.attop {position: fixed; z-index: 98;}
.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {margin-left: 0px!important;}
.navmenu-default {border: 0; background-color: #231F20; border-color: transparent;}
.navmenu-default .navmenu-nav>li>a {text-decoration: none; color: #fff;}
.navmenu-default .navmenu-nav>li>a:hover, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover, .navmenu-default .navmenu-nav>li>a:focus, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:focus { color: #fff;;}
.navmenu-default .navmenu-nav>li.active a, .navmenu-default .navmenu-nav>li.active a:hover {background: transparent; color: white;}
.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {color: #231F20;}
.navmenu-nav {position: relative; bottom: 30px; margin-top: 0px; font-size: 29px; line-height: 1.2em;}
.navmenu, .navbar-offcanvas {width: 300px;}
.navmenu img {width: 115px; margin: 8px 30px 0px;}
.nav>li>a {padding: 10px 30px;}
.nav>li>a>img {width: 115px;position: relative; bottom: 50px; left: 3px;}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {color: #3f4717; background: transparent;}


.low_height.page-template .navbar-default, 
.low_height .navbar-default.attop,
.old_Android.page-template .navbar-default, 
.old_Android .navbar-default.attop,
.old_iOS.page-template .navbar-default, 
.old_iOS .navbar-default.attop {position: absolute;}

h1, h2 {font-family: 'Dirty Headline'; text-transform: uppercase; font-weight: normal; font-size: 42px; margin-bottom: 30px; margin-top: 0px;}
h2 {font-size: 42px;}
h3 {font-family: 'Dirty Headline'; font-weight: normal; font-size: 29px; text-transform: uppercase;}
.light ul, .light ol, p {margin-bottom: 1.5em;}
.post-content ul, 
.post-content ol {margin-bottom: 2em; color: #e6e6e1;}
.featured-image img {margin-top: 5px; max-width: 100%; border: 1px solid #231F20;}
.post-content p a {color: #231F20;}

form .form-group {color: #231F20; margin-bottom: 8px;} 
form .form-control {border-radius: 0; border: 1px solid #91191e!important; font-size: 16px; color: #222; max-width: 100%;}
form .btn-default {border: 1px solid #91191e!important; background-color: #91191e!important; color: #fff;}
form .btn-default:hover {border: 1px solid #91191e!important; color: #fff;}
form.form-horizontal .control-label {padding-top: 5px!important;}

a {text-decoration: underline;}
a:hover {text-decoration: none;}
.post-content {font-weight: normal;}
.post-header span {margin-bottom: 10px; display: inline-block;}
.btn {font-size: 16px; line-height: 1.8em; color: #e6e6e1; text-decoration: none; padding-left: 25px; padding-right: 25px; border-radius: 0; border: 0; text-transform: uppercase; font-family: 'BrandonGrotesque-Bold';
    -webkit-transition: all 0.2s ease;                  
    -moz-transition: all 0.2s ease;                 
    -o-transition: all 0.2s ease;   
    -ms-transition: all 0.2s ease;          
    transition: all 0.2s ease;
}
.btn-default:active:hover, .btn-default:focus, .btn-default:hover, .btn-default {opacity: 1; border: 1px solid #231F20!important; background: transparent; color: #231F20; -webkit-box-shadow: none; box-shadow: none;}
.btn-default:active:hover, .btn-default:focus, .btn-default:hover {background: #231F20; border-color: #231F20!important;}
.btn-primary:active:hover, .btn-primary:focus, .btn-primary:hover, .btn-primary {opacity: 1; border: 1px solid #e6e6e1!important; background: #e6e6e1; color: #231F20;; -webkit-box-shadow: none; box-shadow: none;}
.btn-primary:active:hover, .btn-primary:focus, .btn-primary:hover {background: transparent; color: #e6e6e1!important; border-color: #e6e6e1!important;}
.btn-default:active:hover, .btn-default:hover, .btn-primary:active:hover, .btn-primary:hover {opacity: 1;}
.btn:active:hover, .btn:focus, .btn:hover {color: #e6e6e1;}

.fa {font-size: 110%; cursor: pointer; margin: 0 5px 0 0; position: relative; bottom: 1px; color: #91191e;} 
.form-group {color: #666;}
.btn:active {-webkit-box-shadow: none; box-shadow: none;}
.form-control.error {border-color: red;}


.mobile {display: none;}
.desktop {display: inline;}
form {padding-right: 30px; clear: both;}
label {font-weight: normal;}
.post-content img, .post-content iframe {max-width: 100%;}

#lightbox {display: none; z-index: 99; position: fixed; top: 0; left: 0; text-align: center;}
#lightbox #image {z-index: 0; display: inline; max-height: 95vh; max-width: 95vw; border: 1px solid #231F20;}
#nextbutton {color: #231F20; float: right; width: 50px; height: 50px; line-height: 45px; margin-right: 2.5vw; font-size: 50px;}
#prevbutton {color: #231F20; float: left; width: 50px; height: 50px; line-height: 45px; margin-left: 2.5vw; font-size: 50px;}
#closebutton {text-transform: uppercase; font-family: 'BrandonGrotesque-Bold'; color: #231F20; position: absolute; top: 2vh; right: 2.5vw; width: 50px; height: 60px; line-height: 60px; margin-left: 2.5vw; font-size: 16px; font-weight: normal;}
#controls {height: 50px; top: 50%; position: fixed; margin-top: -25px; width: 100%;}
#controls a {color: #231F20; text-decoration: none;}
#controls a:hover, #controls a:active {color: silver;}
#closebutton, #prevbutton, #nextbutton {cursor: pointer; }

#care .container .row { display: flex; flex-wrap: wrap; justify-content: center;}
#care .container .col-md-3:nth-child(1) > div:hover {-ms-transform: rotate(-6deg)!important; -webkit-transform: rotate(-6deg)!important; transform: rotate(-6deg)!important;}
#care .container .col-md-3:nth-child(2) > div:hover {-ms-transform: rotate(6deg)!important; -webkit-transform: rotate(6deg)!important; transform: rotate(6deg)!important;}
#care .container .col-md-3:nth-child(3) > div:hover {-ms-transform: rotate(-6deg)!important; -webkit-transform: rotate(-6deg)!important; transform: rotate(-6deg)!important;}
#care .container .col-md-3:nth-child(4) > div:hover {-ms-transform: rotate(6deg)!important; -webkit-transform: rotate(6deg)!important; transform: rotate(6deg)!important;}
#care .container .col-md-3:nth-child(5) > div:hover {-ms-transform: rotate(6deg)!important; -webkit-transform: rotate(6deg)!important; transform: rotate(6deg)!important;}
#care .container .col-md-3:nth-child(6) > div:hover {-ms-transform: rotate(-6deg)!important; -webkit-transform: rotate(-6deg)!important; transform: rotate(-6deg)!important;}
#care .container .col-md-3:nth-child(7) > div:hover {-ms-transform: rotate(-6deg)!important; -webkit-transform: rotate(-6deg)!important; transform: rotate(-6deg)!important;}
#care .container .col-md-3:nth-child(8) > div:hover {-ms-transform: rotate(6deg)!important; -webkit-transform: rotate(6deg)!important; transform: rotate(6deg)!important;}
#care .container .col-md-3:nth-child(9) > div:hover {-ms-transform: rotate(-6deg)!important; -webkit-transform: rotate(-6deg)!important; transform: rotate(-6deg)!important;}
#care .container .col-md-3:nth-child(10) > div:hover {-ms-transform: rotate(6deg)!important; -webkit-transform: rotate(6deg)!important; transform: rotate(6deg)!important;}

#wrapall, .navbar > div, #lightbox {background: rgba(230,230,225,0);}


.row.instructions { display: flex; flex-wrap: wrap; justify-content: center; width: 106%;}
.row.instructions > div {margin-top: 2rem;}
.row.instructions > p {width: 100%;}
.row.instructions > p .readmore {width: 340px; font-size: 20px;}
.row.instructions > p .readmore:nth-of-type(2) {transform: rotate(2deg); margin-left:-8rem;}

.readmore.vragen {width: 340px; font-size: 20px;}
.weetjes #faq { margin-top: 10rem; }

ul.accordion {position: relative; margin:0.5rem 0 2rem; padding-bottom: 0; padding-left: 0; max-width: 80rem;}
ul.accordion li {border-bottom: 1px solid rgba(0,0,0,0.25); list-style: none; margin-left: 0;}
ul.accordion li input {display: none;}
ul.accordion li label {display: block; cursor: pointer; padding: 0.3rem 2.4rem 0.3rem 0; margin: 0; font-size: 18px}
ul.accordion li div {display: none; padding-bottom: 0.5rem; font-size: 16px; margin-left: 0.5rem; margin-top: 0.2rem;}

ul.accordion li input:checked ~ label {font-style: italic;}
ul.accordion li input:checked ~ label + div {display: block;}
ul.accordion li label::before { content: "+"; font-style: normal; font-weight: normal; font-size: 130%; padding: 0; position: absolute; right: 0.5rem; transition: all 0.15s ease-in-out;}
ul.accordion li input:checked + label::before {transform: rotate(-45deg);}


@media all and (max-width: 1700px) {
.light.extras:before {left: 50%; margin-left: -850px;}
.light.extras > div:before {left: 50%; margin-left: 400px;}
}
@media all and (max-width: 1000px) {
.light.extras:before {content: none;}
.light.extras > div:before {content: none;}
}

@media all and (max-width: 1199px) {
.behandelingen .sidebar {padding-left: 0!important; border-left: 0!important;}
  .gallery_images a {display: none;}
  .gallery_images > div a:nth-child(1) {display: inline-block;}
  .gallery_images > div a:nth-child(2) {display: inline-block;}
  .gallery_images > div a:nth-child(3) {display: inline-block;}
  .gallery_images > div a:nth-child(4) {display: inline-block;}
  .gallery_images > div a:nth-child(5) {display: none;}
  .navbar {font-size: 31px;}
  .navbar-default .navbar-nav>li>a {margin-left: 16px; margin-right: 16px;}
  .monkeyjarweetjes {width: 100%; position: relative; bottom: 40px;}
}
@media all and (max-width: 991px) {
  form, .twocols .post-content p {padding-right: 0px;}
  .gallery_images a {display: none;}
  .gallery_images > div a:nth-child(1) {display: inline-block;}
  .gallery_images > div a:nth-child(2) {display: inline-block;}
  .gallery_images > div a:nth-child(3) {display: inline-block;}
  .gallery_images > div a:nth-child(4) {display: none;}
  .gallery_images > div a:nth-child(5) {display: none;}
  .navbar {font-size: 25px;}
  .navbar-default .navbar-nav>li>a {margin-left: 8px; margin-right: 8px;}
  .monkeyjarweetjes {width: 100%; position: relative; bottom: 0px;}
}
@media (min-width: 768px) {
  .navbar {text-align: center;}
  .navbar-nav {float: none; display: inline-block; margin: 0 auto;}
  .tapekaart {margin-top: -25px!important; max-width: 300px;}
}
@media all and (max-width: 767px) {
  .navbar-default .navbar-collapse {background: #231F20; border: none;}
  .navbar-default .navbar-brand {margin: 5px 15px!important;}
  .post .salon > div {background-image: url('/img/interior.jpg');}
  .gallery_images a {display: none;}
  .gallery_images > div a:nth-child(1) {display: inline-block;}
  .gallery_images > div a:nth-child(2) {display: inline-block;}
  .gallery_images > div a:nth-child(3) {display: none;}
  .gallery_images > div a:nth-child(4) {display: none;}
  .gallery_images > div a:nth-child(5) {display: none;}
  .row.instructions .img {width: 100%; margin: 0 auto;}
}
@media all and (max-width: 600px) {
  .mobile {display: inline-block;}
  .desktop {display: none;}
}
@media all and (max-width: 545px) {
  .gallery_images a {display: none;}
  .gallery_images > div a:nth-child(1) {display: inline-block;}
  .gallery_images > div a:nth-child(2) {display: none;}
  .gallery_images > div a:nth-child(3) {display: none;}
  .gallery_images > div a:nth-child(4) {display: none;}
  .gallery_images > div a:nth-child(5) {display: none;}
}
@media all and (max-width: 450px) {
  .post .salon > div {background-image: url('/img/interior.jpg');}
}
