<!DOCTYPE html>
<html>

  {% include head.html %}

  <body data-spy="scroll" data-target="#navbar" data-offset="300" class="home" onload="">
  <div id="splash"><table cellpadding="0" cellspacing="0"><tr><td><img src="/img/logowhite.svg" /></td></tr></table></div>
  <div id="nonsplash">
    <div id="innernonsplash">
  <script>document.getElementById('nonsplash').style.display = 'none';</script>
    {% include header.html %}
    <div id="top" class="intro">

<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    {% for image in page.slider %}
    <li data-target="#myCarousel" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.index0 == 0 %}active{% endif %}"></li>
    {% endfor %}
  </ol>
 
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    {% for image in page.slider %}
    <div class="item {% if forloop.index0 == 0 %}active{% endif %}">
      <img  class="visible-lg" src="/img/bugfree.svg" style="top: 100px; left: 50%; width: 300px; margin-left: 250px; margin-top: 30px; position: absolute;
    -ms-transform: rotate(7deg); /* IE 9 */
    -webkit-transform: rotate(7deg); /* Chrome, Safari, Opera */
    transform: rotate(7deg);
      " />
      <img src="{{ image.image }}" />
    </div>
    {% endfor %}

  </div>

</div>


    </div>


    <div class="light" id="about">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left">
                      <h2 class="post-title" style="margin: 0 0 35px;">What are Monkey Jars? </h2>
            </div> 
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6"><img class="tapekaart" src="/img/tapekaart.png" style="width: 60%; position: absolute; margin-top: -5vw; margin-left: 30%;" /><img src="/img/plant.jpg" style="width: 100%;" /><br />&nbsp;</div>
            <div class="col-lg-6 col-md-6 text-left">

<p><strong>Monkey Jars are officially known as Nepenthes. While you've probably never heard of this genus, you've undoubtedly heard of carnivorous plants. Well, that's exactly what Nepenthes is. These climbing plants grow in tropical rainforests like those found in Borneo. They can easily grow up to fifteen metres high. (Don't worry, you won't have to re-roof your house when you buy our Monkey Jars!)</strong></p>
<p>These tropical plants can also be found in the Netherlands and are grown in hot and humid greenhouses around the country. Monkey Jars spend two years in a greenhouse before they are available in shops. They can easily survive and thrive in the average living room, especially if you give them a generous watering.</p>

<p><a href="/about" class="readmore">READ MORE</a></p>

            </div>
          </div>
      </div>
    </div>


    <div class="light" id="care">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left">
                      <h2 class="post-title editable" style="margin: 0;">Care</h2>
            </div> 
        </div>
      </div>
      <div class="container" style="padding: 0;">
        <div class="row" style="margin: 0; overflow: hidden;">
          {% for instruction in site.instructions %}
            <div class="col-md-3 col-sm-4 col-xs-6" style="padding: 0; cursor: pointer;" onclick="window.location.href='/instructions';">
              <div style="background: url(/img/{{ instruction.order }}.png) center center no-repeat; background-size: contain;
              {% if instruction.order == 1 %}{% endif %}
              {% if instruction.order == 2 %}-ms-transform: rotate(-6deg); -webkit-transform: rotate(-6deg); transform: rotate(-6deg);{% endif %}
              {% if instruction.order == 3 %}{% endif %}
              {% if instruction.order == 4 %}-ms-transform: rotate(-3deg); -webkit-transform: rotate(-3deg); transform: rotate(-3deg);{% endif %}
              {% if instruction.order == 5 %}-ms-transform: rotate(-3deg); -webkit-transform: rotate(-3deg); transform: rotate(-3deg);{% endif %}
              {% if instruction.order == 6 %}-ms-transform: rotate(3deg); -webkit-transform: rotate(3deg); transform: rotate(3deg);{% endif %}
              {% if instruction.order == 7 %}{% endif %}
              {% if instruction.order == 8 %}-ms-transform: rotate(-6deg); -webkit-transform: rotate(-6deg); transform: rotate(-6deg);{% endif %}
              ">
              <div style="background: url(/img/{{ instruction.order }}.svg) 50% 46% no-repeat; background-size: contain; opacity: 0.85; padding-top:100%;
              {% if instruction.order == 1 %}margin: 0 30%;{% endif %}
              {% if instruction.order == 2 %}margin: 0 28%; -ms-transform: rotate(6deg); -webkit-transform: rotate(6deg); transform: rotate(6deg);{% endif %}
              {% if instruction.order == 3 %}margin: 0 23%; {% endif %}
              {% if instruction.order == 4 %}margin: 0 31%; -ms-transform: rotate(3deg); -webkit-transform: rotate(3deg); transform: rotate(3deg);{% endif %}
              {% if instruction.order == 5 %}margin: 0 30%; -ms-transform: rotate(3deg); -webkit-transform: rotate(3deg); transform: rotate(3deg);{% endif %}
              {% if instruction.order == 6 %}margin: 0 30%; -ms-transform: rotate(-3deg); -webkit-transform: rotate(-3deg); transform: rotate(-3deg);{% endif %}
              {% if instruction.order == 7 %}margin: 0 30%; {% endif %}
              {% if instruction.order == 8 %}margin: 0 31%; -ms-transform: rotate(6deg); -webkit-transform: rotate(6deg); transform: rotate(6deg);{% endif %}
              "></div></div>
            </div>
          {% endfor %}
          </div>
      </div>
    </div>


    <div class="light" id="funfacts">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left">
                      <h2 class="post-title" style="margin: 0 0 10px;">Fun Facts</h2>
            </div> 
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-3"> 
          {% for fact in site.facts %}
            {% if forloop.index < 5 %}
            <div style="overflow: auto; clear: left; text-align: left;">
              <div style="font-family: 'Dirty Headline'; font-weight: normal; font-size: 31px; text-align: center; background: url(/img/{{ fact.title }}.png) center center no-repeat; background-size: contain; float: left; width: 60px; height: 100px; padding: 36px 0; position: relative; right: 5px;">{{ fact.title }}</div>
              <div style="padding-top: 20px; position: relative; right: 5px;">{{ fact.content }}</div>
            </div>
            {% endif %}
          {% endfor %}
          </div>
          <div class="col-lg-3 col-md-3" style="padding-left: 0 10px;"> 
          {% for fact in site.facts %}
            {% if forloop.index > 4 %}
            <div style="overflow: auto; clear: left; text-align: left;">
              <div style="font-family: 'Dirty Headline'; font-weight: normal; font-size: 31px; text-align: center; background: url(/img/{{ fact.title }}.png) center center no-repeat; background-size: contain; float: left; width: 60px; height: 100px; padding: 36px 0; position: relative; right: 5px;">{{ fact.title }}</div>
              <div style="padding-top: 20px; position: relative; right: 5px;">{{ fact.content }}</div></div>
            {% endif %}
          {% endfor %}
          </div>
          <div class="col-lg-6 col-md-6"> 
            <img class="monkeyjarweetjes" src="/img/monkeyjars_weetjes.png" />
          </div>
        </div>
      </div>
    </div>






    <div class="light" id="contact">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left">
                
                      <h2 class="post-title editable">Contact</h2>

                      <p style="max-width: 850px;">Elke Monkey Jars komt bij JM Plants vandaan. JM Plants kweekt al meer dan 15 jaar Nepenthes en weten er echt alles van.
Ze telen er niet alleen maar vleesetende planten. Ook in andere mooie grote groene planten is JM Plants gespecialiseerd.</p>
            </div> 
        </div>
        <div class="row" style="padding-top: 10px;">
            <div class="col-lg-9 col-md-9 col-sm-8">   
                <img class="tapekaart" src="/img/tapekaart.png" style="width: 60%; position: absolute; margin-top: -5vw; margin-left: -30%;" />                         
                <div id="map" onclick="window.open('https://www.google.nl/maps/place/Meewisse+VOF+J+M+Plants/@52.2705475,4.716179,17z/data=!3m1!4b1!4m5!3m4!1s0x47c5e75fcb52143f:0x94af0545542deaa0!8m2!3d52.2705475!4d4.7183677');"><img src="/img/logo.svg" /></div>&nbsp;
            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 text-left" style="font-size: 17px; line-height: 1.5em;">{% include contactinfo.html %}</div>
          </div>
      </div>
    </div>




   

    {% include footer.html %}
</div>
  </body>

</html>
