<!DOCTYPE html>
<html>

  {% include head.html %}

  <body id="body" class="page-template post" onload="">
  <div id="nonsplash">
    <div id="innernonsplash">
	  {% include header.html %}


    <div class="light" style="padding-top: 218px;">
      <div class="container">
        <div class="row">
            <div class="col-xs-12 text-left">
                      <h2 class="post-title" style="margin: 0 0 35px;">{{ page.title }}</h2>
            </div> 
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6"><img class="tapekaart" src="/img/tapekaart.png" style="width: 60%; position: absolute; margin-top: -5vw; margin-left: 30%;" />
            <img src="/img/plant.jpg" style="width: 100%;" /><br />&nbsp;</div>
            <div class="col-lg-6 col-md-6 text-left">

{{ content }}

<p><a href="/" class="readmore">BACK</a></p>

            </div>
          </div>
      </div>
    </div>


    {% include footer.html %}
      </div>
    </div>
  </body>

</html>
